version: '3.8'

services:
  avito-pr-service:
    build: .
    container_name: avito-pr-service
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal
  
  db:
    image: postgres:14-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      # "./migrations/init.sql" - путь к миграциям БД
      - ./migrations:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${DATABASE_USER} -d ${DATABASE_NAME}'"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
    networks:
      - internal
  migrate:
    image: migrate/migrate
    command: [
      "-path=/migrations",
      "-database=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?sslmode=disable",
      "up"
    ]
    volumes:
      - ./internal/db/migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal

volumes:
  pgdata:
networks:
  internal: